/* Fix user-agent */

* {
  box-sizing: border-box;
}


/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 51px;  
}
*/
body {
  background: url('/img/dark-flecks.jpg');
  /*background-size: 100% 100%;*/

  -webkit-font-smoothing: antialiased;

  font-family:
    "Alegreya",
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

.flecked-bg {
  background: url('/img/dark-flecks.jpg') !important;
  color: #A9A9A9;

  /*background-size: 100% 100%;*/
}


ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */


.message {
  clear: both;
  float: left;
}

.prompt {
  float: left;
  clear: both;
  color: rgba(255,255,255,0.2);
}

/* Font */

.log {
  /*color: gray;*/
  color: rgb(229,229,229);
  float: left;
  clear: both;
  padding-left: 20px;
  white-space: pre-wrap;
  font-family: monospace;
}

.log span {
  border-radius: 5px;
}

.avmsg {
  margin-left: 25px;
  background: rgba(64, 128, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #efefef;
  clear: both;
  float: left;
  border-radius: 5px;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  max-width: 95%;
}

.avmsg .title {
  background: rgba(64, 128, 255, 0.6);
  color: black;
  padding: 2px;
  border-radius: 5px;
}

.avmsg .text {
  padding: 2px;
}



.comms {
  background: rgba(255, 255, 255, 0.2);
  color: #efefef;
  clear: both;
  float: left;
  border-radius: 5px;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  max-width: 95%;
}

.comms .icon {
  padding: 2px;
 }

.comms .icon.to {
  color: rgba(255,0,0,.7);
}

.comms .icon.from {
  color: springgreen;
}

.comms .icon.bug {
  color: coral;
}

.comms .channel {
  display: inline-block;
  padding: 2px;
}

.comms .who {
  display: inline-block;
  padding: 2px;
  font-weight: bold;
  background-color: rgba(0,0,0,0.6);
  border: 1px solid rgb(127,127,127);
  border-radius: 5px;
}

.comms .city {
  display: inline-block;
  padding: 2px;
  background-color: rgba(255,255,255,0.2);
}

.comms .msg {
  display: inline-block;
  padding: 2px;
}

.message {
  color: rgb(229,229,229);
  margin: 5px;
  float: left;
  clear: both;
  padding-left: 20px;
  white-space: pre-wrap;
  font-family: source-code-pro, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}


.message span {
  border-radius: 5px;
}

.notification {
  /*color: #8B0000;*/
  color: rgb(229,229,229);
  border: 1px rgb(229,229,229) solid;
  border-radius: 5px;
  margin: 5px;
  float: left;
  clear: both;
  padding-left: 20px;
  white-space: pre-line;
}

.notification span {
  border-radius: 5px;
}

.pale {
  background: rgba(255,255,255,.05);
}

.paler {
  background: rgba(255,255,255,.15);
}

/*.side-panel {
  background: rgba(255,255,255,.10);
  border-color: #123535;
  color: #A9A9A9;
}*/




.messages {
  /*height: 100%;*/
  padding: 10px 20px 10px 20px;
}


/*.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}*/

/* Input */

.full.height {
  height: 100%;
}

#output-segment {
  height: 100%;
  padding-bottom: 40px;
}

#input-segment {
  padding: 0px;
  margin-top: -54px;
}


#inputMessage {
  /*border: 10px solid #000;*/
  /*bottom: 0;*/
  height: 40px;
  /*left: 0;*/
  /*outline: none;*/
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  /*position: absolute;*/
  /*right: 0;*/
  font-size: 150%;
  width: 100%;
  background: inherit;
  background-color: rgb(48, 58, 65);
  color: white;
}
  

/*--------------
  Transparent
---------------*/


.ui.transparent.menu {
  opacity: 0.95;
}

.fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;

  z-index: 10;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
}

.fixed.launch.button .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
.fixed.launch.button:hover {
  width: 130px;
}
.fixed.launch.button:hover .text {
  opacity: 1;
}


.launch.button .icon {
  margin-left: 0px;
}
