
/*
based on the Terminal.app theme: http://en.wikipedia.org/wiki/ANSI_escape_code#Colors
*/

.ansi-black-fg { color: rgb(0,0,0); }
.ansi-red-fg { color: rgb(194, 54, 33); }
.ansi-green-fg { color: rgb(37, 188, 36); }
.ansi-yellow-fg { color: rgb(173, 173, 39); }
.ansi-blue-fg { color: rgb(73, 46, 225); }
.ansi-magenta-fg { color: rgb(211, 56, 211); }
.ansi-cyan-fg { color: rgb(51, 187, 200); }
.ansi-white-fg { color: rgb(203, 204, 205); }

.ansi-bright-black-fg { color: rgb(129, 131, 131); }
.ansi-bright-red-fg { color: rgb(252,57,31); }
.ansi-bright-green-fg { color: rgb(49, 231, 34); }
.ansi-bright-yellow-fg { color: rgb(234, 236, 35); }
.ansi-bright-blue-fg { color: rgb(88, 51, 255); }
.ansi-bright-magenta-fg { color: rgb(249, 53, 248); }
.ansi-bright-cyan-fg { color: rgb(20, 240, 240); }
.ansi-bright-white-fg { color: rgb(255,255,255); }

.ansi-black-bg { /* black bg = transparent */ }
.ansi-red-bg { background-color: rgb(194, 54, 33); }
.ansi-green-bg { background-color: rgb(37, 188, 36); }
.ansi-yellow-bg { background-color: rgb(173, 173, 39); }
.ansi-blue-bg { background-color: rgb(73, 46, 225); }
.ansi-magenta-bg { background-color: rgb(211, 56, 211); }
.ansi-cyan-bg { background-color: rgb(51, 187, 200); }
.ansi-white-bg { background-color: rgba(255,255,255,0.7); /* alpha baby!*/ }

.ansi-bright-black-bg { background-color: rgb(129, 131, 131); }
.ansi-bright-red-bg { background-color: rgb(252,57,31); }
.ansi-bright-green-bg { background-color:  rgb(49, 231, 34); }
.ansi-bright-yellow-bg { background-color: rgb(234, 236, 35); }
.ansi-bright-blue-bg { background-color: rgb(88, 51, 255); }
.ansi-bright-magenta-bg { background-color: rgb(249, 53, 248); }
.ansi-bright-cyan-bg { background-color: rgb(20, 240, 240); }
.ansi-bright-white-bg { background-color: rgb(255,255,255); }