/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 51px;  
}

body {
  background: url('28-faded-parchment-background-lrg.jpg');
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.message {
  clear: both;
  float: left;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

.row {
  height: 100%;
}

.modal-content {
  color: white;
  background: url('Splat_texture_by_firesign24_7.jpg');
  background-size: 100% 100%;}

.navbar {
  color: white;
  background: url('Flecked_texture_by_firesign24_7.jpg');
  background-size: 100% 100%;
}

.navbar-brand {
  color: white !important;
}

.nameInput {
  color: black;
}

.passwordInput {
  color: black;
}

/* Font */

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 150%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: right;
  white-space: pre-line;
}

.notification {
  color: #8B0000;
  font-size: 85%;
  margin: 5px;
  text-align: left;
  float: left;
  clear: both;
  white-space: pre-line;
}

/* Messages */

.page-container {
  height: 100%;
}

.mainArea {
  height: 100%;
}

.chatAreaOuter {
  height: 100%;
}

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}