@desktop:   ~"only screen and (min-width: 1024px)";
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 1023px)";
@phone:   ~"only screen and (max-width: 719px)";

@import "museo-font.less";
@import "shimmer.less";
@import "ansi_up.less";
@import "nanoscroller.less";
@import "umbra-chrome.less";
@import "umbra-tags.less";