/* Fix user-agent */

* {
  box-sizing: border-box;
}

body {
  background: url('/img/dark-flecks.jpg');
  /*background-size: 100% 100%;*/

  -webkit-font-smoothing: antialiased;

  font-family:
    "Museo",
    "Alegreya",
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
  line-height: 1.3;
  font-weight: 500;
  font-size: 0.95em;
}



.flecked-bg {
  /* background: url('/img/dark-flecks.jpg') !important; */
  background:black !important;
  color: #CCCCCC;

  /*background-size: 100% 100%;*/
}


ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

#login-form-outer {
  clear: both;
}
#introText {
  margin-bottom: 20px;
}

.prompt {
  float: left;
  clear: both;
  color: rgba(255,255,255,0.2);
  margin-bottom: -0.5em!important;
}

/* Font */




.pale {
  background: rgba(255,255,255,.05);
}

.paler {
  background: rgba(255,255,255,.15);
}

/* Input */

.full.height {
  height: 100%;
}

#output-segment {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 56px;
  padding-left: 0px;
  padding-right:0px;
}

#input-segment {
  padding: 0px;
  margin-top: -54px;
}

#output-scroller {
  position: absolute;
  width: 100%;
//  overflow:auto;
  height: auto; //for nano
  top: 40px;
  bottom: 40px;
}


#inputMessage {
  /*border: 10px solid #000;*/
  /*bottom: 0;*/
  height: 40px;
  /*left: 0;*/
  /*outline: none;*/
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  /*position: absolute;*/
  /*right: 0;*/
  font-size: 150%;
  width: 100%;
  background: inherit;
  background-color: rgb(48, 58, 65);
  color: white;
}

.ui.input.helpsearch,
.ui.transparent.icon.input.helpsearch
 {
  > label {
    cursor: default;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    margin: 0;
    width: 3em;
    height: 100%;
    text-align: center;
    padding-top: .69em;
  }
  > input {
    padding: .5em;
    padding-right: 2em!important;
    padding-left: 3em!important;
    text-transform: uppercase;
    opacity: 1;
    color: #fff;
    font-family: "Museo","Alegreya","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  }
  i.icon {
    cursor: pointer;
  }
}
  

/*--------------
  Transparent
---------------*/

.ui.transparent.input {
  ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #fff;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #fff;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
     color:    #fff;
  }
}

.ui.transparent.menu {
  opacity: 0.95;
}

.fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;

  z-index: 10;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
}

.fixed.launch.button .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
.fixed.launch.button:hover {
  width: 130px;
}

.fixed.launch.button:hover .text {
  opacity: 1;
}

.launch.button .icon {
  margin-left: 0px;
}


.shimmer {
  color: rgba(255,255,255,0.8);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.shimmer.red-fg {
  color: rgba(255,64,64,0.8);

}

@-moz-keyframes shimmer {
  0%   { background-position: top left; }
  100% { background-position: top right; }
}
@-webkit-keyframes shimmer {
  0%   { background-position: top left; }
  100% { background-position: top right; }
}
@-o-keyframes shimmer {
  0%   { background-position: top left; }
  100% { background-position: top right; }
}
@keyframes shimmer {
  0%   { background-position: top left; }
  100% { background-position: top right; }
}
